.container {
  background-color: aqua;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon {
  position: fixed;
  left: 12px;
  top: 12px;
  cursor: pointer;
}

.formContainer {
  margin-inline: 40px;
  padding: 40px 25px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  margin-top: 50px;
  margin-inline: 50px;
}

.formContainer label {
  font-size: 18px;
  font-weight: 600;
  color: #000;
  margin-bottom: 10px;
}

.formContainer h1 {
  font-weight: 600;
  color: #000;
  margin-bottom: 20px;
}

.formContainer input {
  height: 40px;
  background-color: #f9f9f9;
  border: none;
  outline: none;
  padding: 0 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.formContainer button {
  width: 300px;
  height: 40px;
  background-color: #000;
  margin: 0 auto;
  border: none;
  outline: none;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.formContainer button:hover {
  background-color: #333;
}
