.nav__container{
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;

  padding-bottom: 6px;
}

.logo__container{
  padding: 10px;
  display: flex;
  justify-content: center;
}

.logo {
  width: 300px;
  height: 50px;
}


@media (min-width: 550px) {
.logo {
  width: 400px;
  height: 50px;
}
}
@media (min-width: 992px) {
.logo {
  width: 450px;
  height: 50px;
}
}
@media (min-width: 1230px) {
.logo {
  width: 600px;
  height: 50px;
}
}










