.logo {
  max-width: 150px; /* Tamaño máximo para pantallas pequeñas */
}

@media (min-width: 430px) {
  .logo {
    max-width: 230px; /* Tamaño ajustado para pantallas medianas */
  }
}
@media (min-width: 508px) {
  .logo {
    max-width: 300px; /* Tamaño ajustado para pantallas medianas */
  }
}


@media (min-width: 1200px) {
  .logo {
    max-width: 350px; /* Tamaño para pantallas grandes */
  }
}








