.body {
  display: flex;
}

.body section {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.tablaBody {
  overflow: auto;
}

.searchBox {
  text-align: center;
  background-color: red;
  padding: 20px;
  border-radius: 5px;
  color: white;
  font-size: larger;
  width: 50vw;
  margin-top: 20%;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

@media screen and (max-width: 360px) {
  .body section {
    padding: 40px;
    overflow: auto;
  }
}
