* {
  font-family: "Roboto", serif;
}

.bodyHome {
  display: grid;
  grid-template-columns: 1fr 4fr;
  /* height: 100vh; */
  background-color: #eee;

  grid-template-rows: 100vh;
}

.main {
  padding: 20px 20px 40px 0px;
  overflow: auto;
}

.btnMenu {
  background-color: yellow;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  color: #000;

  height: fit-content;
  width: fit-content;
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu ul li {
  padding: 5px;
  margin: 5px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  color: #000;
}

.link__item:hover {
  background-color: #ccc;
  color: #fff;
}

.link__item {
  display: block;
  margin-left: 50px;
  padding-block: 5px;
  font-size: 18px;
  text-decoration: none;
  color: #000;
}

@media screen and (max-width: 900px) {
  .link__item__especial {
    display: block;
    margin-left: 50px;
    font-size: 18px;
  }
}
@media screen and (max-width: 600px) {
  .bodyHome {
    display: grid;
    grid-template-columns: 50px 1fr;
    /* height: 100vh; */
    background-color: #eee;

    grid-template-rows: 100vh;
  }
  .textButton {
    display: none;
  }
}
