.body {
  margin-top: 20px;
  font-family: Arial, Helvetica, sans-serif;
  padding-inline: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.body table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #ddd;
  background-color: #ddd;
}

/* search box esta compuesto por un label y un input */

.searchBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.searchBox label {
  font-size: 1.2rem;
  font-weight: bold;
}

.searchBox input {
  width: 80%;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.body thead {
  background-color: #333;
  color: #fff;
}

.body th,
.body td {
  text-align: left;
  padding: 16px;
}

.body tbody > tr > td > a {
  color: blue;
}

.body tr:nth-child(even) {
  background-color: #f2f2f2;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;

  margin-bottom: 20px;
}

.pagination button {
  border: 1px solid #ddd;
  background-color: #fff;
  margin: 0 5px;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .body table {
    width: 100%;
    font-size: 12px;
  }
}

@media screen and (min-width: 601px) and (max-width: 900px) {
  .body table {
    width: 90%;
    font-size: 14px;
  }
}

@media screen and (min-width: 901px) {
  .body table {
    width: 80%;
    font-size: 16px;
  }
}
