.body {
  background-color: #808080;
  height: 100vh;
  overflow: hidden;
  /* display: grid; */
  /* grid-template-columns: 1fr; */
  /* grid-template-rows: 15% 75% 10%; */
}

.header {
  background-color: #ffffff;
  overflow: hidden;
  border-bottom: 1px solid rgb(0, 0, 0, 0.1);
}

.main {
  padding-block: 0.4rem;
  overflow-y: scroll;
}

.sectionMain {
  background-color: aliceblue;
  height: 80vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.sectionMain::-webkit-scrollbar {
  width: 0.5rem;
}

.sectionMain::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.sectionMain::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

.sectionMain::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.prueba {
  background-color: red;
  height: 1500px;
  width: 100px;
}

.footer {
  background-color: #ffffff;
  border-top: 1px solid rgb(0, 0, 0, 0.1);
  overflow: hidden;
}

/* estilos header */

.sectionHeader {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
}

.info {
  display: flex;
  align-items: center;
  padding-top: 15px;
  text-decoration: none;
  color: #000;
}

.link {
  text-decoration: none;
  color: #000;
  font-size: 25px;
  font-weight: bold;
  padding-top: 10px;
  text-align: center;
}

.link:hover {
  cursor: pointer;
}

.cerrarConfirmacion {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgb(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.cerrarConfirmacion__body {
  width: 300px;
  height: 200px;
  margin-top: auto;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.cerrarConfirmacion__buttons {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.cerrarConfirmacion__buttons button {
  width: 100px;
  height: 30px;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
}

.button__cancel {
  background-color: #ff0000;
  color: #fff;
}

.button__confirm {
  background-color: #00ff00;
  color: #fff;
}
