.body {
  width: 100%;
  display: flex;
  justify-content: space-around;
  height: 60px;
  gap: 10px;
  text-align: center;
}

.link {
  text-decoration: none;
  color: #000;
  font-size: 25px;
  font-weight: bold;
  width: 100%;
  padding-top: 10px;
}

.link:hover {
  cursor: pointer;
}
