.body {
  margin-top: 20px;
  display: flex;
  /* flex-direction: column; */
  justify-content: space-around;
  padding-bottom: 50px;
}

.bodyPerfil img {
  width: 150px;
  height: 150px;
}

.bodyPerfil > p > span {
  color: red;
  font-weight: bold;
}

.bodyFicha {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

@media (max-width: 850px) {
  .body {
    flex-direction: column;
    gap: 20px;
  }
}
