.body {
  margin-top: 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-bottom: 50px;
}

.header {
  display: flex;
  justify-content: space-around;
  background-color: aliceblue;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 10px;
}

.header button {
  height: fit-content;
}

.seccionFoto {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.seccionFoto img {
  width: 150px;
  height: 150px;
}

.seccionBody {
  display: flex;
  justify-content: space-around;
  margin-top: 25px;
}

.bodyPerfil > p > span {
  color: red;
  font-weight: bold;
}

.bodyFicha {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.body_editarPerfil {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  justify-content: center;
  align-items: end;
}

.button_estado {
  display: none;
}

.button_group {
  display: flex;
  justify-content: space-around;
  gap: 10px;
}

@media (max-width: 773px) {
  .header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .seccionFoto img {
    margin-left: 20px;
  }
}

@media (max-width: 660px) {
  .body_editarPerfil {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 480px) {
  .body_editarPerfil {
    grid-template-columns: 1fr;
  }
  .button_group {
    display: flex;
    justify-content: space-around;
    gap: 10px;
  }
  .button_estado {
    display: inline-block;
  }
  .card_section {
    display: none;
  }
}
