.containerHome {
  display: grid;
  background-color: aqua;
  grid-template-columns: 1fr;
  grid-template-rows: 70px 1fr 80px;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  border-bottom: 1px solid rgb(0, 0, 0, 0.1);
}

.info {
  display: flex;
  align-items: center;
  padding-top: 15px;
  text-decoration: none;
  color: #000;
}

.link {
  text-decoration: none;
  color: #000;
  font-size: 25px;
  font-weight: bold;
  padding-top: 10px;
}

.link:hover {
  cursor: pointer;
}

.main {
  padding-top: 10px;
}
