.body {
  background-color: #f2f2f2;
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px auto;
  padding: 10px;
}

.body form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  /* align-items: center; */
}

.body form label {
  font-size: 1.5rem;
  margin-block: 10px;
}

.body form input {
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 5px;
  padding: 5px;
  margin-block: 10px;
}

.isSpecial {
  text-align: center;
}
