.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: aqua;
}

.formBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 500px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.formBody h1 {
  color: #000;
  margin-bottom: 20px;
}

.formBody label {
  font-size: 18px;
  font-weight: 600;
  color: #000;
  margin-bottom: 10px;
}

.formBody input {
  /* width: 300px; */
  height: 40px;
  background-color: #f9f9f9;
  border: none;
  outline: none;
  padding: 0 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.formBody button {
  width: 300px;
  height: 40px;
  background-color: #000;
  border: none;
  outline: none;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
}

.formBody button:hover {
  background-color: #333;
}
