.body {
  background-color: aliceblue;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: 20px;
  margin-bottom: 40px;
}

.body h1 {
  margin-top: 30px;
  /* font-size: 20px; */
  text-align: center;
  font-weight: bold;

  color: darkblue;
}

.seccion1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  margin-top: 20px;
  padding: 10px;
  /* background-color: aquamarine; */
}

.seccion1_article {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin-top: 20px;
}

.seccion2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  margin-top: 20px;
  padding: 10px;
}

/* cuando la pantalla sea menor a 625px necesito hacer el texto mas diminuto */
@media (max-width: 625px) {
  .seccion1 {
    width: 100%;
  }
  .seccion2 {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .seccion1 h4 {
    font-size: medium;
    font-weight: bold;
  }

  .seccion1_article {
    font-size: small;
  }
  .seccion1_article h3 {
    font-size: larger;
  }
}

.section {
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: space-evenly;
}

.sectionItem {
  display: flex;
  gap: 15px;
  align-items: center;
}

.sectionItem span {
  margin-left: 10px;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  padding-block: 5px;
  border-radius: 100%;
  color: white;
  text-align: center;
}

.sectionItem p {
  padding-top: 15px;
  font-size: 20px;
  font-weight: bold;
}

.infoSection p {
  padding-top: 10px;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: -5px;
}

.infoSection small {
  font-size: 15px;
  font-weight: normal;
  color: black;
}
