.body {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100vw;
  padding-inline: 50px;
}

.alert {
  width: 400px;
  height: fit-content;
  position: absolute;
  /* abajo a la izquierda */
  bottom: 0;
  right: 20px;
}

.header {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  margin-top: -30px;
  padding-bottom: 50px;
  gap: 10px;
}

.formTurnoActual {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #f2f2f2;
  width: 100%;
  height: 100%;
}

.formTurnoActual > h3 {
  font-weight: bold;
  font-size: 30px;
}

.formTurnoActual label {
  font-weight: bold;
  font-size: 20px;
}

.formTurnoActual input {
  width: 80%;
  height: 30px;
  border-radius: 10px;
  border: none;
  margin: 10px;
}

.formTurnoActual button {
  width: 80%;
  height: 35px;
  border-radius: 10px;
  border: none;
  margin: 10px;
  background-color: #1e90ff;
  color: white;
  font-weight: bold;
  font-size: 20px;
}

.main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
