.body {
  height: 100%;
  width: 90vw;
  display: grid;
  grid-template-areas:
    "main  aside"
    "main  aside"
    "main  footer"
    "main  footer";
  /* background-color: red; */
  grid-template-columns: 2fr 4fr;
  grid-template-rows: 100px 100px 1fr;
}
.header {
  grid-area: header;
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #1e90ff;
  color: white;
}

.aside {
  grid-area: aside;
}

.main {
  grid-area: main;
  margin-top: 20px;
  border-top: none;
}

.footer {
  grid-area: footer;
}

.alert {
  width: 400px;
  height: fit-content;
  position: absolute;
  /* abajo a la izquierda */
  bottom: 0;
  right: 20px;
}

.button {
  display: none;
}

@media screen and (max-width: 900px) {
  .body {
    width: fit-content;
    margin: 0 auto;
    grid-template-areas:
      "main"
      "aside";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 220px;
  }

  .footer {
    display: none;
  }
}
