.seccionForms {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}

.seccionForms form {
  border: 1px solid black;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}

.seccionForms form input {
  border: none;
  border-bottom: 1px solid black;
  margin: 10px;
  border-radius: 10px;
}

.seccionForms form button {
  border: none;
  padding: 10px;
  border-radius: 10px;
  background-color: #1e90ff;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

@media screen and (max-width: 508px) {
  .body {
    width: 100%;
    text-align: center;
  }
  .seccionForms {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
